<h3>{{ _('P9813 LED Control') }}</h3>
<form class="form-horizontal">
    <label class="checkbox inline">
        <input type="checkbox" data-bind="checked: settings.plugins.P9813LedControl.torch_enabled">Enable torch effect and button
    </label>
</form>
