<a class="pull-right" style="float: left; font-size:20px" href="javascript:void(0)" data-bind="click: function() { toggle_lights() }"><i id="lightIcon" class="fa fa-lightbulb-o"></i><i style="margin-left: 4px" id="toggleSwitch" class="fa fa-toggle-off"></i></a>
<a class="pull-right" style="float: left; font-size:20px" href="javascript:void(0)" data-bind="click: function() { activate_torch() }, visible: torch_enabled()"><i id="torchIcon" class="fa fa-sun-o"></i></a>
