<h3>{{ _('P9813 LED Control') }}</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Red Pin Number</label>
        <div class="controls">
            <input type="number" step="any" min="0" max="15" class="input-mini text-right" data-bind="value: settings.plugins.PCA9685LEDStripControl.r">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Green Pin Number</label>
        <div class="controls">
            <input type="number" step="any" min="0" max="15" class="input-mini text-right" data-bind="value: settings.plugins.PCA9685LEDStripControl.g">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Blue Pin Number</label>
        <div class="controls">
            <input type="number" step="any" min="0" max="15" class="input-mini text-right" data-bind="value: settings.plugins.PCA9685LEDStripControl.b">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">White Pin Number (Optional)</label>
        <div class="controls">
            <input type="number" step="any" min="0" max="15" class="input-mini text-right" data-bind="value: settings.plugins.PCA9685LEDStripControl.w">
        </div>
    </div>

    <div class="control-group">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.PCA9685LEDStripControl.on_startup">Turn on LEDs on OctoPrint startup
        </label>
    </div>
</form>
